body {
	font-family: monospace;
	background-color: rgb(200,200,200);
	margin: 0;
}

table {
	color: #ee3e80;
	background-color: mintcream;
	font-size: 18px;
	border: 6px groove #A6B9B9;
}

#display {
	background-color: gray;
	margin: 0px;
	padding: 20px 5px 20px 5px;
	border: 0px;
	text-align: right;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.btn, .blank {
	margin: 0px;
	padding: 20px;
	border: 0px;
}

.btn:hover {
	background-color: gray;
}

.btn:active {
		color: white;
	background-color: #ee3e80;
}